<!-- Contact section-->
<section id="contacts" class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
            <h2 class="fw-bolder"><%= data?.contactsSection?.contactsSectionHeader %></h2>
            <p class="lead mb-0"><%= data?.contactsSection?.contactsSectionDescription %></p>
        </div>
        <%- include('components/feedback-form', {formContent: data?.contactsSection?.formText}) %>
    </div>
</section>

