<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; <%= data?.footerContent?.copyRightName %> <%= new Date().getFullYear(); %></p></div>
</footer>
<!-- Core theme JS-->
<script defer src="js/app.js"></script>
</body>
</html>
