<!-- Testimonials section-->
<% if(!!data?.testimonialsSection?.testimonials) { %>
    <section id="testimonials" class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="fw-bolder"><%= data?.testimonialsSection?.testimonialsHeaderText %></h2>
                <p class="lead mb-0"><%= data?.testimonialsSection?.testimonialsDescriptionText %></p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <% for(let testimonial of data?.testimonialsSection?.testimonials) { %>
                        <%- include('components/testimonial', {testimonialData: testimonial}); %>
                    <% } %>
                </div>
            </div>
        </div>
    </section>
<% } %>
